#root, body {
    background-color: #eff2f4;
    margin: 0;
    padding: 0;
}
.page {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin-top: 4rem;
}
.profile-body {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 0 2rem;
    margin: 0 15vw;
}
    .left-side {
        display: flex;
        flex-direction: column;
        width: 40%;
        position: relative;
    }
        .profile-intro {
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-radius: 0.5rem;
            box-shadow: rgba(0, 0, 0, 0.18) 0px 0.75px 0.75px;
            margin-bottom: 1rem;
            padding: 1rem;
            background-color: rgb(255, 255, 255);
        }
        .profile-intro-text {
            font-weight: bold;
            padding-bottom: 0.75rem;
        }
        .add-bio{
            height: 2rem;
            width: 99%;
            background-color: #e3e6ea;
            font-size: 0.8rem;
            border-radius: 0.3rem;
            border-color: none;
            border-style: none;
            font-weight: 550;
            cursor: pointer;
        }
        .user-info {
            padding: 1rem 0;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            /* padding-bottom: 0.5rem; */
            font-size: 0.85rem;
            margin-left: 0.75rem;
            /* border-top: 1px solid rgba(27, 31, 35, 0.15); */
        }
.user-info-details
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

        .bio-content {
            width: 99%;
        }
        .edit-details {
            margin-top: 0.5rem;
            height: 2rem;
            width: 99%;
            background-color: #e3e6ea;
            font-size: 0.8rem;
            border-radius: 0.3rem;
            border-color: none;
            border-style: none;
            font-weight: 550;
            cursor: pointer;
        }
        .for-sticky {
            position: sticky;
            top: 4.5rem;    
        }
        .photo-section {
            border-radius: 0.5rem;
            padding: 1rem;
            background-color: rgb(255, 255, 255);
            box-shadow: rgba(0, 0, 0, 0.18) 0px 0.75px 0.75px;
        }
            .photo-title {
                padding-bottom: 0.75rem;
                display: flex;
                align-items: baseline;
            }
            .photos-text {
                font-weight: bold;
                flex-grow: 2.75;
            }
            .photos-link, .friends-link {
                flex-grow: 0.25;
                font-size: 0.85rem;
            }
            .grid-pictures {
                display: flex;
                flex-wrap: wrap;
                border-radius: .5rem;
                justify-content: flex-start;
                gap: calc((100% - 95%)/2);
            }
            
            .pic {
                outline: 0.12rem solid rgb(212, 212, 212);
                width: calc(95% / 3);
                margin-bottom: calc((100% - 95%)/2);
            }
            .pic img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                overflow: hidden;
                aspect-ratio: 1 / 1;
            }
            .pic:hover {
                cursor: pointer;
                filter: brightness(85%);
            }
            .terms {
                margin-top: 0.5rem;
                padding: 0 0.5rem;
                font-size: 0.83vw;
                margin-bottom: 1rem;
            }
            .terms p {
                margin: 0;
                padding-top: 0.5rem;
            }

.right-side {
    width: 60%;
}
    .posts-section {
            display: flex;
            flex-direction: row;
            justify-content: center;
            border-radius: 0.5rem;
            background-color: rgb(255, 255, 255);
            box-shadow: rgba(0, 0, 0, 0.18) 0px 0.75px 0.75px;
            padding: 1rem 1rem 1rem 1.25rem;
            margin-bottom: 1rem;
        }
        .post-icon {
            height: 2.3rem;
            width: 2.3rem;
            border-radius: 50%;
            background-color: #dcdcdc;
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        }
        .post-profile-pic {
            height: 2.3rem;
            width: 2.3rem;
            object-fit: cover;
            border-radius: 50%;
        }
        .post-space {
            padding-left: 1rem;
            width: 95%;
        }
        .post-button {
            font-size: 1.2rem;
            padding: 0.55rem 0 0.55rem 1rem;
            border-radius: 2rem;
            width: 99%;
            background-color: #eff2f4;
            border-color: none;
            border-style: none;
            text-align: left;
            color: #9c9c9c;
            cursor: text;
        }
        .show-modal {
            transform: translate(-142.2%, -200%);
        }
    .main-posts {
        border-radius: 0.5rem;
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(0, 0, 0, 0.18) 0px 0.75px 0.75px;
        padding: 1rem 1rem 1rem 1.25rem;
        display: flex;
        margin-bottom: 1rem;
    }
        .main-post-title {
            font-weight: bold;
        }
.link-to {
    margin: 0;
    text-align: right;
    color: #4267B2;
}
.link-to:hover {
    cursor: pointer;
    color: #004ee9;
    text-decoration: underline;
}
.add-bio:hover, .edit-details:hover, .post-button:hover {
    background-color: #cacccf;
}
.user-bio {
    display: grid;
    align-content: center;
    justify-items: center;
    text-align: justify;
    margin: 0 0.5rem 0.75rem 0.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.user-bio p {
    margin: 0;
    display:block;
}
.photos-link a {
    text-decoration: none;
}
.album-name-tooltip {
    visibility: hidden;
    z-index: 1;
    opacity: 1;
    padding: 0.25rem 0.5rem;
    background: rgb(245, 245, 245);
    color: black;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0.75rem;
    border-radius: 0.5rem;
    transform: translateY(-1.75rem);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.pic:hover .album-name-tooltip {
    visibility: visible;
    
}
.caught-up {
    display: flex;
    flex-direction: column;
    align-items: center;
}