#header-container
{
    position: fixed;
    top: 0px;
    width: 100%;
    background: #4267B2;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    /* gap: 70%; */
}

#searchbar-container
{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 2rem;
}

#search
{
    padding: 0 1.5rem;
    height: 2.5rem;
    font-size: 1rem;
    border-radius: 1.5rem;
    border: none;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

#search:focus
{
    outline:none;
}

#navigation-container
{
    display: flex;
    flex-direction: row;
    gap:0.5rem;
    padding-right: 2rem;
}

.icon
{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius:50%;
    object-fit: cover;
}

.icon:hover
{
    cursor: pointer;
    background: rgba(255,255,255,0.1);
}

.icon:active
{
    cursor: pointer;
    background: rgba(255,255,255,0.2);
}

.header-profile-pic:hover
{
    opacity: 80%;
}

#remove-search-param:hover
{
    opacity: 80%;
}
.red-dot{
    position: absolute;
    color: red;
    font-size: 2.5rem;
    transform: translate(190%, -115%);
}