.list-modal-outer {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: rgba(150, 150, 150, 0.5);
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 2rem;
}
.list-modal-content {
    width: 31.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    max-height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
}
.list-modal-header {
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 1px;
    padding: 0.75rem;
    width: 30rem;
    margin-bottom: 0.25rem;
}
.list-modal-header-text {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
}
.list-modal-close {
    position: absolute;
    right: 0.75rem;
}
.list-modal-close button {
    background-color: #e3e6ea;
    border-radius: 50%;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0 0.45rem;
}
.list-modal-close button:hover {
    background-color: #c7c9cc;
}
.list-modal-body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}
.list-of-likes {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1.5rem;
    gap: 0.5rem;

}
.list-of-likes a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 1rem;
}
.list-of-likes img {
    border-radius: 50%;
    object-fit: cover;
    height: 3.5rem;
    width: 3.5rem;
}
.list-of-likes a:hover {
    cursor: pointer;
    text-decoration: underline;
    filter: brightness(125%);
}
